/* Base Styles for Mobile-First */
body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

/*Section 1: Introduction*/
    /* Navbar */
      .navbar { 
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 6px;
        padding-bottom: 0;
        background-color: transparent !important;
      }
      
      .navbar-brand img {
        height: 60px;
        width: auto;
      }
      
      .navbar-brand span {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        margin-left: 9%;
      }
      
      .vr {
        padding-left: 1px;
        padding-right: 1px;
        margin-left: 20px;
        margin-right: 20px;
      }
      
      .nav-item {
        line-height: 2px;
      }
      
      .link-lines {
        background-color: white;
        height: 3px;
        width: 0;
        transition: width 0.3s ease;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;
      }
      
      .nav-item:hover .link-lines {
        width: 60%;
      }
      
      .navbar-nav .nav-link {
        margin-top: 0;
        padding-top:30px;
      }

    /*Section 1: Introduction*/
    .section1 {
        height: 100vh;
        background-color: #0D0D0D;
        font-family: "Poppins", sans-serif;
      }

      .introduction-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 40%;
      }
  
      .introduction-container h1 {
        color: white;
        font-family: 'Cooper Hewitt', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.3em;
        font-size: 45px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #ffffff;
        margin-bottom: 20px;
        text-align: center;
      }
  
      .introduction-container p {
        color: white;
        font-size: 11pt;
        text-align: center;
        line-height: 2em;
      }
  
      #btn-target {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 90%;
      }
  
      #btn-target a {
        color: #fff;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        white-space: nowrap;
      }

    /*Section2: Maps and Descriptions*/
    .section2 {
        height: auto;
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        /*Top Container*/
        .right-container {
          height: 85vh;
          width: 100vw;
        }

        .section2 .title-container {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .section2 .title h3 {
            display: flex;
            text-decoration: underline;
            text-underline-offset: 30%;
            font-size: 2em;
            color: white;
            text-align: center;
            justify-content: center;
            margin-top: 10%;
            font-weight: bold;
            font-family: "Poppins", sans-serif;
        }
        
        .section2 img {
            position: relative;
            height: 70vh;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
        }

        .map-container {
            padding-top: 5%;
            position: relative;
        }

        .previews {
            display: none;
        }

        .number-m {
          position: absolute;
          width: auto;
          height: 2em;
          background-color: white;
          color: #CD5909;
          text-align: center;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          cursor: pointer;
          font-size: 17px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 300;
        }

        .map-btn-container {
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left: 0;
            margin-right: auto;
            gap: 77%;
            padding-left: 4%;
            padding-right: 4%;
            top: 48vh;
            left: 50%;
            transform: translateX(-50%);
            z-index: 200;
        }

        .btn-map {
            position: relative;
            display: flex;
            cursor: pointer;
            width: 5vh;
            height: 5vh;
            padding: 1%;;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background-color: white;
            font-size: 1.9vh;
        }

        .btn-map i {
          color: #2A2928;
        }

        .btn-map i.active {
          color: #777676;
        }

        .btn-map.active {
            background-color: #2A2928;
            cursor: default;
        }

        /*Bottom Container*/
        .tab {
            height: 10vh;
            width: 100vw;
            background: #373636;
            position: sticky;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            display: flex;
            justify-content: center;
            bottom: 0;
            z-index: 400;
        }

        .tab i {
            position: absolute;
            margin-top: 5%;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
        }

        .left-container-m {
          height: 55vh;
          width: 100vw;
          background: #373636;
          position: sticky;
          border-top-left-radius: 45px;
          border-top-right-radius: 45px;
          display: flex;
          justify-content: center;
          bottom: 0;
          z-index: 400;
          font-family: "Poppins", sans-serif;
          overflow: hidden;
        }

        .scroll-container {
          position: relative;
          overflow-y: scroll;
          height: 40vh;
          scrollbar-width: none;
          width: 95%;
        }

        .left-container-m i {
          position: absolute;
          margin-top: 7%;
          margin-bottom: 5%;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
        }

        .left-container-m .title {
            position: relative;
            justify-content: center;
            color: white;
            line-height: 1.5em;
            font-weight: bold;
            margin-left: 5%;
            font-size: 23pt;
            text-align: left;
            font-weight: 700;
            letter-spacing: 3px;
            margin-top: 5%;
            font-family: "Poppins", sans-serif;
        }

        .left-container-m p {
            position: relative;
            font-weight: bold;
            font-size: 11pt;
            color: white;
            margin-left: 5%;
            margin-right: 15%;
            text-align: left;
            letter-spacing: 2px;
            font-family: "Poppins", serif;
            font-style: normal;
            line-height: 2.9vh;
        }

        .left-container-m span {
          display: block;
          margin-bottom: 2%;
        }

        .left-container-m .btn a {
            display: none;
        }

        .button-container-left {
            display: none;
        }

        .floor-description-m {
          font-family: serif;
          font-weight: bold;
          font-size: 11pt;
          color: white;
          margin-top: 16%;
          margin-left: 5%;
          margin-right: 7%;
          text-align: center;
          letter-spacing: 2px;
          overflow-y: scroll;
          z-index: 300;
          height: 75%;
          width: 100%;
          position: absolute;
        }

        .item-texts {
          overflow-y: scroll;
        }

        .text-m {
          display: block;
          position: absolute;
          font-family: serif;
          font-weight: bold;
          font-size: 11pt;
          color: #FEF7D7;
          margin-top: 16%;
          margin-left: 5%;
          margin-right: 7%;
          text-align: center;
          letter-spacing: 2px;
          z-index: 300;
          height: 70%;
          width: 100%;
        }

        .text-m h4 {
          margin-top: 0;
          margin-left: 5%;
          position: relative;
          color: white;
          font-size: 23pt;
          text-align: left;
          z-index: 3;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
        }

        .text-m h3 {
          margin-left: 5%;
          position: relative;
          color: white;
          font-size: 29pt;
          text-align: left;
          z-index: 3;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          letter-spacing: 3px;
        }

        .text-m img {
          position: absolute;
          z-index: 2;
          width: 290px;
          height: auto;
          top: 20%;
          left: 10%;
        }

        .gallery-button-container {
          left: 0;
          padding-left: 5%;
          position: sticky;
          bottom: 0;
          margin-top: 3%;
        }

        .gallery-button{
          font-family: 'Cooper Hewitt', sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #CD5909;
          font-weight: bold;
          color: white;
          width: 30vw;
          height: 4vh;
          text-align: center;
          cursor: pointer;
          border-radius: 5px;
          letter-spacing: 0.2vh;
        }

        .gallery-button-container  a {
          text-decoration: none;
        }

        .gallery-button:hover {
            opacity: 0.9;
        }

        /*user type buttons*/
        .side-tab {
          height: 5.5vh;
          width: 50vw;
          top: 16vh;
          right: 0;
          overflow: hidden;
          position: absolute;
        }
        .user-btn-toggle-m {
          cursor: pointer;
          aspect-ratio: 1/1;
          margin-right: 5%;
          font-size: 35px;
          margin-left: 5%;
        }

        .user-btn-container-m {
            background-color: #CD5909;
            cursor: pointer;
            position: absolute;
            width: 50vw;
            height: 5.5vh;
            flex-direction: row;
            column-gap: 8%;
            display: flex;
            align-items: center;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            z-index: 350;
            right: -37vw;
        }

        .user-btn-container-m:hover {
            background-color: #CD5909;
            opacity: 0.9;
        }

        .user-btn-container-m img {
            position: relative;
            cursor: pointer;
            width: 2em;
            height: auto;
            aspect-ratio: 1 / 1;
            z-index: 370;
        }

        .user-btn-m {
            width: 2em;
            height: 2em;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            z-index: 370;
        }

        #user-btn1 {
          background-image: url("images/MuseumKidInverted.png");
      }
      #user-btn1.active {
          background-image: url("images/MuseumKid.png");
      }
      #user-btn2 {
          background-image: url("images/MuseumGeneralInverted.png");
      }
      #user-btn2.active {
          background-image: url("images/MuseumGeneral.png");
      }
      #user-btn3 {
          background-image: url("images/MuseumExpertInverted.png");
      }
      #user-btn3.active {
          background-image: url("images/MuseumExpert.png");
      }

      /*user type buttons*/

    

/*Footer*/
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    flex-direction: column;
    padding-bottom: 10%;
    z-index: 10;
  }

  footer .title-container {
    text-align: center;
    align-items: center;
    margin-top: 20%;
  }

  footer #home-title-m {
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    font-size: 12vw;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  } 

  footer .title-container p{
    font-size: 3vw;
  }

  footer h4 {
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  #museum-logo-m {
    position: sticky;
    width: 50%;
    height: auto;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
  }

  .contacts, .affiliations {
    margin: 0;
  }

  .contacts h4 {
    margin: 2%;
  }

  .affiliations h4 {
    margin: 2%;
    margin-top: 10%;
  }

  .contacts p, footer .affiliations p {
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .contacts {
    margin-top: 7%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .affiliations {
    margin-left: auto;
    margin-right: auto;
  }

  .social-icons-container {
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 0 auto;
    margin-bottom: 25%;
    margin-top: 10%;
  }

  .social-icons {
    margin: 0;
    width: 2em;
    height: auto;
  }

  .social-icons-container a {
    margin: 0;
    width: auto;
    height: auto;
  }