/* media queries */

/* small screens */
@media (max-width: 786px) {
  .background-image .title-container {
    text-align: center;
    padding-top: 25%;
  }
}

@media (max-width: 786px) {
  .background-image #home-title {
    font-size: 9vw;
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
}

@media (max-width: 786px) {
  .background-image #home-subtitle {
    font-size: 5vw;
  }
}

@media (max-width: 786px) {
  .background-image .title-container p {
    font-size: 3vw;
  }
}

@media (max-width: 786px) {
  .background-image .button_container {
    white-space: nowrap;
    margin-top: 8%;
  }
}

@media (max-width: 786px) {
  .carousel {
    margin-top: 5%;
  }
}

@media (max-width: 786px) {
  .custom-text {
    overflow-wrap: break-word;
  }
}

@media (max-width: 786px) {
  .carousel-control-next {
    padding-bottom: 120px;
    padding-left: 6%;
  }
}

@media (max-width: 786px) {
  .carousel-control-prev {
    padding-top: 120px;
    padding-right: 6%;
  }
}

/* bigger screens */

@media (min-width: 1025px) {
  .background-image .title-container {
    text-align: right;
    padding-right: 5%;
    padding-top: 15%;
    padding-left: 3%;
  }
}

@media (min-width: 1025px) {
  #home-title {
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke: 3px white;
  }
}

@media (min-width: 1025px) {
  #home-subtitle {
    font-size: 3vw;
    color: #ffffff;
    margin-bottom: 1%;
  }
}

@media (min-width: 1025px) {
  .title-container p {
    font-size: 2vw;
  }
}

@media (min-width: 1025px) {
  .section1 #home-title {
    font-size: 3vw;
  }
}

@media (min-width: 1025px) {
  .section1 #home-subtitle {
    font-size: 2vw;
  }
}

@media (min-width: 1025px) {
  .section2 {
    height: 100vh;
  }
}

@media (min-width: 1025px) {
  .custom-text {
    white-space: nowrap;
  }
}

@media (min-width: 1025px) {
  .carousel {
    margin-top: 7%;
  }
}



/* specifics for the navbar in general */

.navbar {
  font-family: 'Cooper Hewitt', sans-serif;
  font-weight: bold;
  width: 100%;
}

/* logo and text */

.navbar-brand img {
  height: 60px;
  width: auto;
}

.navbar-brand span {
  font-family: 'Cooper Hewitt', sans-serif;
  font-size: 1rem;
  margin-left: 9%;
}

/* Separator between links */

.vr {
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Background image and general section styles */
.gallery-section {
  padding-bottom: 0;
  margin-bottom: -596px;
}

.background-image {
  background-image: url('../img/galleryimage.jpg');
  height: 725px;
  background-position: center 45%;
  background-size: 140%;
  background-attachment: fixed;
}


/* Title and description styles */
.the-gallery-title {
  color: white;
  font-size: 85px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0;
  margin-left: 0;
  margin-right: -2px;
}

.gallery-description {
  color: var(--bs-body-bg);
  font-size: 20px;
  padding-right: 401px;
  margin-top: 401px;
  margin-right: -359px;
  margin-left: -550px;
  padding-left: 55px;
}

.separator {
  height: 50px; 
  background-color: #212529;
  width: 103%; /* Set the width to 100% to match the parent container */
  margin-left: -1.5%; /* Negative margin to pull it to the left */
  margin-right: -1.5%; /* Negative margin to pull it to the right */
}


/*Explore the Gallery*/
.explore-items-section {
  background: #212529; 
  padding: 40px 20px; 
}

.section-title {
  font-size: 30px; 
  margin-bottom: 20px; 
  padding: 0 15px; 
}

.section-description {
  width: 538px;
  font-size: 16px; 
  margin-bottom: 20px; 
  padding: 0 15px; 
}

.path-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
  
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  margin-right: 45px;
}

.path-title {
  font-size: 25px; 
  margin-bottom: 15px; 
}

.learn-more {
  color: #a4abb2; 
  transition: color 0.3s;
}

.learn-more:hover {
  color: #8d9399; 
}
.theme-separator { 
  width: 100%; 
  margin: 30px auto 30px auto; 
}

/* Banner Section */
#banner {
  padding: 40px 20px; 
}

.header {
  padding: 20px; 
}

.gallery-title {
  color: white; 
  font-size: 30px; 
  margin-left: -30px;

}

/* Gallery Items */
.gallery-items {
  display: flex;
  justify-content: space-between;  /* Ensure space between items */
  gap: 20px;  /* Adds space between items */
  flex-wrap: wrap;
  margin-bottom: 40px; 
}

.gallery-item {
  flex: 1 1 calc(33.33% - 20px);  /* Three items per row */
  background-color: #212529;  
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);  /* Softer shadows */
  display: flex; 
  border: 1px solid #444;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-direction: column;  /* Aligns items vertically */
  justify-content: space-between;  /* Ensures spacing between elements */
}

.gallery-item:hover {
  transform: translateY(-5px);  /* Slight lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);   /* Deepen shadow on hover */
}

.gallery-item img {
  width: 100%;  /* Make image width responsive */
    max-width: 250px;  
    height: auto;  
    margin: 0 auto;  /* Center the image */
}

.gallery-item h4 {
  font-size: 22px;
  margin: 10px 0; /* Consistent vertical spacing */
}

.gallery-item p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: auto; 
}

/* Style for the horizontal rule in the Gallery Items Section */
.gallery-divider {
  border: 1px solid #444; 
  width: 100%; 
  max-width: 4000px; /* You can adjust this value to control the maximum length */
  margin: 20px auto; 
}

/* Button Gallery Styles */
.btn-go-to-item {
  background-color: #6d7175;
  color: white; 
  border: none;
  border-radius: 5px; /* Rounded corners */
  padding: 8px 10px; 
  font-size: 1rem; 
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for color and size */
  cursor: pointer; 
  margin-top: 15px;  /* Increased margin for space above the button */
  margin-bottom: 0;  /* Ensure no bottom margin */
}

/* Hover Effect */
.btn-go-to-item:hover {
  background-color: #8d9399;
}

/*line separator*/
.footer-separator {
  width: 100%; 
  margin: 0;
  border-top: 0.5px solid #6f6e6e;
}

/*footer*/
footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  background-color: #212529; 
}

footer .footer-content {
  padding-left: 60px; 
}

footer .row {
  margin-left: -5%;
  margin-right: -5%
}

footer .title-container {
    text-align: left;
    margin-right: 2%;
    margin-top: 7%;
}

footer #home-title {
position: relative;
font-size: 3vw;
z-index: 100;
margin-top: -50px;
margin-left: 20px; 
}

footer #home-subtitle {
font-size: 2vw;
}

footer h4 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;
  color: white;
  }
  
  #museum-logo {
  position: relative;
  width: 325px;
  height: auto;
  display: block;
  margin-top: 20%;
  left: -10%;
  top: -10%;
  z-index: 10;
  }
  
  .contacts p, footer .affiliations p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
  color: white;
  font-weight: bold;
  }
  
  footer p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  font-family: 'Cooper Hewitt', sans-serif;
  }
  
  .contacts, .affiliations {
  margin-top: 19%;
  }
  
  .contacts {
    margin-left: 7%;
  }
  
  .affiliations {
    margin-left: 4%;
  }
  
  .contacts h4 {
    margin-bottom: 10%;
  }
  
  .affiliations h4 {
    margin-bottom: 7%;
  }
  
  
  .social-icons-container {
    max-width: 200px;
    margin-top: 10%;
    position: relative;
    left: 50%;
  }
  
  
  .social-icons {
    width: 19%;
    height: auto;
    margin-left: 5%;
  }
