body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}


/*navbar*/
    .navbar { 
        font-family: 'Cooper Hewitt', sans-serif;
        font-weight: bold;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 6px;
        padding-bottom: 0;
    }

    .navbar-brand img {
        height: 60px;
        width: auto;
    }

    .navbar-brand span {
        font-family: 'Cooper Hewitt', sans-serif;
        font-size: 1rem;
        margin-left: 9%;
    }

    .vr {
        padding-left: 1px;
        padding-right: 1px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .nav-item {
    line-height: 2px;
    }

    .link-lines {
        background-color: white;
        height: 3px;
        width: 0;
        transition: width 0.3s ease;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;
    }

    .nav-item:hover .link-lines {
    width: 60%;
    }

    .navbar-nav .nav-link {
        margin-top: 0;
        padding-top:30px;
    }
/*navbar*/


/*carousel*/
    .carousel {
        display: block;
        width: 100%;
        max-width: 900px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .carousel-images {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-images img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: black;
        color: white;
        border: none;
        padding: 10px;
        cursor: default;
        width: 42px;  /* Largura igual à altura para formar um círculo */
        height: 42px; /* Altura igual à largura */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    button.prev {
        left: 1px;
    }

    button.next {
        right: 1px;
    }

    button:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
/*carousel*/

/*titles*/
    .section1 .item-title-container {
        text-align: center;
        margin-top: 4%;
    }

    .section1 .item-title {
        position: relative;
        text-align: center;
        color: black;
        font-size: 25px;
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 15px;
        text-decoration-thickness: 3px;
    }
/*titles*/

/*info*/
    .info-button {
        position: absolute;
        left: 1px;
        top: 50%
    }

    .info-table-small {
        text-align: center;
        position: fixed;
        right: 0;
        top: 25%;
        transform: translateY(-50%) rotate(-90deg);
        background-color: black;
        color: white;
        padding: 20px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }

    .info-table-small:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .info-table-big {
        left: 70%;
        position: absolute;
        top: 15%;
        width: 30%;
        height: auto;
        background-color: black;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        padding-left: 50px;
        transition: right 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }

    .info-table-big h3 {
        font-weight: bold;
        margin-bottom: 20px;
        color: white;
        text-align: center;
        margin-top: 5%;
    }

    .info-table-big .information-container {
        color: white;
        font-size: 18px;
        font-family: 'Cooper Hewitt', sans-serif;
        line-height: 45px;
        margin-left: 2%;
        margin-top: 10%;
        max-width: 320px;
    }

    .info-table-big .table-custom {
        background-color: black !important;
        color: white !important;
    }
    
    .info-table-big .table-custom th,
    .info-table-big .table-custom td {
        background-color: black !important;
        color: white !important;
    }
    
    .info-table-big .table-custom thead th {
        background-color: black !important;
        color: white !important;
    }

/*info*/


/*lines and dots that change with the carousel*/
    .line-container {
        position: relative;
        max-width: 1100px;
        margin: 0 auto;
        align-items: center;
        margin-top: 5px;
    }

    .active-line {
        position: relative;
        width: 43px;
        height: 2px;
        background-color: black;
        z-index: 3;
    }

    .inactive-line {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #C1C1C1;
        top: -2px;
        z-index: 1;
    }

    .dot-container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        z-index: 2;
    }

    .dot {
        position: relative;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: black;
        margin: 0 33px;
        top: -2px;
        cursor: pointer;
        
    }

    .inner-dot {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid transparent;
        top: -6px;
        left: -6px;
        cursor: pointer;
    }

    .dot.active .inner-dot {
        border: 1px solid black;
        cursor: pointer;
    }
/*lines and dots that change with the carousel*/

/*section2*/
    .top-line {
        height: 3px;
        background-color: black;
        width: 90px;
        margin-left: 9%;
        opacity: 100;
        margin-bottom: 0;
        margin-top: 7%;
    }

    .top-container {
        display: flex;
        margin-left: 9%;
        margin-right: 9%;
        max-width: 85%;
        justify-content: space-between;
    }

    .section2 .item-title-container {
        align-items: start;
        color: black;
        max-width: 50%;
        margin-bottom: 7%;
    }

    .section2 .item-title {
        font-weight: bolder;
        font-size: 40px;
        line-height: 50px;
        margin-top: 15px;
    }

    .item-definition-container {
        display: none;
        margin-top: 2%;
        margin-left: auto;
        max-width: 50%;
    }

    .item-definition-container p {
        font-family: 'Cooper Hewitt', sans-serif;
        font-weight: 600;
        text-align: right;
    }


    /*opening different descriptions*/
        .description {
            display: flex;
            justify-content: space-between;
            max-width: 85%;
            margin-left: 9%;
            margin-right: 9%;
            cursor: pointer;
        }

        .description-line {
            height: 2px;
            background-color: black;
            margin-left: 9%;
            margin-right: 9%;
            max-width: 85%;
            opacity: 100;
            margin-bottom: 0;
            margin-top: 0;
        }

        .inside-line {
            height: 2px;
            background-color: black;
            width: 100%;
            opacity: 100;
            margin-bottom: 0;
            margin-top: 0;
        }

        
        .description-text {
            font-weight: 600;
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 20%;

        }

        .description-number {
            font-size: 45px;
            font-weight: bold;
            margin-left: 1%;
            color: black;
            margin-bottom: 2%;
        }

        .description-icon {
            font-size: 30px;
            transform: rotate(45deg);
            color: black;
            margin-left: auto;
            margin-right: 4%;
            margin-top: 1%;
            cursor: pointer;
        }

        .description-paragraphs {
            margin-left: 9%;
            margin-right: 9%;
            max-width: 85%;
        }

        .description-paragraph {
            display: none;
            padding-top: 3%;
            padding-bottom: 3%;
        }
    /*opening different descriptions*/

/*section2*/


/*footer*/
    footer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
    }
  
  footer .row {
    margin-left: -5%;
    margin-right: -5%
  }
  
  footer .title-container {
    text-align: left;
    margin-right: 2%;
    margin-top: 7%;
    font-family: 'Cooper Hewitt', sans-serif; 
    color: white;
  }
  
  footer #home-title {
    position: relative;
    font-size: 3vw;
    z-index: 100;
    font-weight: bold;
        -webkit-text-stroke: 2px white;
        color: transparent;
  }
  
  footer #home-subtitle {
  font-size: 2vw;
  }
  
  footer h4 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;
  color: white;
  }
  
  #museum-logo {
  position: relative;
  width: 325px;
  height: auto;
  display: block;
  margin-top: 10%;
  left: -10%;
  top: -10%;
  z-index: 10;
  }
  
  .contacts p, footer .affiliations p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
  color: white;
  font-weight: bold;
  }
  
  footer p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  font-family: 'Cooper Hewitt', sans-serif;
  }
  
  .contacts, .affiliations {
  margin-top: 19%;
  }
  
  .contacts {
    margin-left: 7%;
  }
  
  .affiliations {
    margin-left: 4%;
  }
  
  .contacts h4 {
    margin-bottom: 10%;
  }
  
  .affiliations h4 {
    margin-bottom: 7%;
  }
  
  .social-icons-container {
    max-width: 200px;
    margin-top: 10%;
    position: relative;
    left: 50%;
  }
  
  
  .social-icons {
    width: 19%;
    height: auto;
    margin-left: 5%;
  }
  
  /*footer*/