* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  height: 100vh;
  background-size: cover;
  background-image: url(images/b&background.jpeg);
  position: relative;
  background-size: cover;
  background-position: center;

  /*navbar*/

  .navbar { 
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;
    background-color: transparent;
    padding-left: 3%;
    padding-right: 3%;
    height: 9%;
  }

  .navbar-brand img {
    height: 55px;
    width: auto;
  }

  .navbar-brand span {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 1rem;
    margin-left: 9%;
  }

  .vr {
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-item {
    line-height: 10px;
    max-height: 28px;
  }

  .link-lines {
    background-color: white;
    height: 2px;
    width: 0;
    transition: width 0.3s ease;
    opacity: 1;
  }

  .nav-item:hover .link-lines {
    width: 60%;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar .dropdown-menu {
    top: 100%;
    margin-top: 0;
    left: 0;
  }

  .dropdown-menu {
      transform: translateX(-24%);
      display: none;
      border-radius: 0;
      background-color: transparent;
      min-width: 160px;
      border: 0;
      box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
      z-index: 1;
    }

  .dropdown-menu a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: flex; 
      align-items: center;
      justify-content: center; 
      text-align: center;
  }

  .link-lines, 
  .link-lines-dropdown {
      width: 0;
      height: 2px;
      background-color: white;
      transition: width 0.3s ease;
      margin: auto;
      display: block;
  }


  .dropdown-item {
    background-color: transparent !important; 
    border: none;
    position: relative;
  }

  .dropdown-item:hover::after,
  .dropdown-item:focus::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 60%;
      height: 2px;
      background-color: #ffffff;
      transition: width 0.3s ease !important;
  }

  #thematicalTrigger:hover {
      background-color: transparent !important;
  }

  .dropdown-menu {
    position: relative;
  }

  #thematicalMenu {
      transform: translateX(0%);
      display: none;
      position: static;
      background: none;
      box-shadow: none;
  }

  #thematicalMenu.show {
      display: block;
  }

  /*navbar*/
  /*title and subtitle*/

  .title-container {
    font-family: 'Cooper Hewitt', sans-serif; 
    color: white;
    text-align: right;
    padding-right: 5%;
    padding-top: 15%;
    padding-left: 3%;
  }

  .title-container #home-title {
    font-size: 5vw;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    color: transparent;
  }

  .title-container #home-subtitle {
    font-weight: bold;
    margin-bottom: 1%;
  }

  .title-container p {
    font-size: 2vw;
  }

  /*title and subtitle*/
  /*"see more" btn*/

 .button-container {
    cursor: pointer;
  }

  .btn a {
    color: #fff;
    text-decoration: none;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;
  }
  /*"see more" btn*/
  
}

.section2 {
  height: 100vh;
  background-color: black;

  /*title and subtitle*/

  .title-container {
    font-family: 'Cooper Hewitt', sans-serif; 
    text-align: right;
    color: white;
    padding-right: 5%;
    padding-top: 7%;
  }

  .title-container #home-title {
    font-size: 3vw;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    color: transparent;
  }

  .title-container #home-subtitle {
    font-weight: bold;
    margin-bottom: 1%;
  }

  .title-container p {
    font-size: 2vw;
  }

    /*title and subtitle*/
    /*user*/

  .user-container{
    display: flex;
    gap: 25px;
    justify-content: center;
  }

  .user {
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin: 30px;
  }

  .user-name {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
  font-weight: bold;
  }

  .user:hover {
  transform: scale(1.05);
  cursor: pointer;
  }

  .user-img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  }

  .user-text {
  display: block;
  font-size: 19px;
  font-weight: bold;
  }

   /*user*/
}

.section3 {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: black;

  /*title and subtitle*/

  .title-container {
    font-family: 'Cooper Hewitt', sans-serif; 
    color: white;
    text-align: left;
    padding-left: 5%;
    padding-top: 7%;
  }
  
  .title-container #home-title {
    font-size: 3vw;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
 
  .title-container #home-subtitle {
    font-weight: bold;
    margin-bottom: 1%;
  }
  
  .title-container p {
    font-size: 2vw;
  }

  /*title and subtitle*/
  /*paths*/

  .path-container {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 25px;
  }
  
  .main-images, .hidden-images {
      display: flex;
      justify-content: center;
      gap: 25px; /* Space between images */
      flex-wrap: wrap; /* Allow wrapping for smaller screens */
  }
  
  .path, .hidden-img {
      display: inline-block;
      text-align: center;
      margin: 30px;
  }
  
  .path-link {
      font-size: 20px;
      display: inline-block;
      text-decoration: none;
      color: white;
      transition: transform 0.3s ease;
      font-weight: bold;
  }
  
  .path-link:hover {
      transform: scale(1.05);
  }
  
  .path-img {
      width: 200px;
      height: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
  }
  
  .path-text {
      display: block;
      font-size: 19px;
      font-weight: bold;
  }
  
  .hidden-images {
      background-color: black;
      display: none;
      width: 100%;
  }

  #hidden1 a:hover img {
    content: url("images/logos/thema1change.png");
  }

  #hidden2 a:hover img {
    content: url("images/logos/thema2change.png");
  }

  #hidden3 a:hover img {
    content: url("images/logos/thema3change.png");
  }

  #hidden4 a:hover img {
    content: url("images/logos/thema4change.png");
  }
  /*paths*/

}

.section4 {
  margin: 0;
  padding: 0;
  z-index: 1;
  height: auto;
  min-height: 110vh;
  background-color: black;

  /*title*/
  .title-container {
    font-family: 'Cooper Hewitt', sans-serif; 
    text-align: right;
    color: white;
    padding-right: 5%;
    padding-top: 7%;
  }
  #home-title {
    font-size: 3vw;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
                
  #home-subtitle {
    font-size: 2vw;
  }
  /*title*/
  /*carousel*/

  .carousel {
    width: 75%;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    margin-bottom: 10%;
  }

  .carousel-inner a{
    display: flex;
    align-items: center; 
  }

  .carousel-item {
    text-align: center;
  }


  .carousel-item img {
    width: 550px; 
    height: auto; 
    margin: 0 auto; 
  }

  .floor-title {
    text-align: center;
    color: white;
    font-size: 2vw;
    margin-bottom: 10px;
  }

  .custom-prev,
  .custom-next {
    display: flex;
    align-items: center;
    color: white;
  }

  .custom-arrow {
    font-size: 30px;
  }

  .carousel-control-next {
    margin-right: -15%;
    background-color: transparent;
    border: none;
  }

  .carousel-control-prev {
    margin-left: -15%;
    background-color: transparent;
    border: none;
  }

  /*carousel*/
}

.section5 {
  height: 100vh;
  background-color: black;

    /*title and subtitle*/

    .title-container {
      font-family: 'Cooper Hewitt', sans-serif; 
      color: white;
      text-align: left;
      padding-left: 5%;
      padding-top: 7%;
    }
    
    .title-container #home-title {
      font-size: 3vw;
      font-weight: bold;
      -webkit-text-stroke: 2px white;
      color: transparent;
    }
   
    .title-container #home-subtitle {
      font-weight: bold;
      margin-bottom: 1%;
    }
    
    .title-container p {
      font-size: 2vw;
    }
  
    /*title and subtitle*/
    /* gallery carousel */
    .carousel-container {
      width: 100%;
      margin-top: 30px;
      overflow: hidden;
      white-space: nowrap;

    }
  
    .carousel2 {
        display: flex;
        width: max-content;
        white-space: nowrap;
    }
    
    .carousel-image {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
  
  /* gallery carousel */
}

/*line separator*/
.hr1 {
  width: 90%; 
  margin: 0 auto;
  color: white;
  opacity: 0.8;

}
/*line separator*/

/* Footer */
footer {
    width: 100%;
    margin: 0;
    background-color: #000000;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
  }
  
  .title-container {
    width: 100%;
    text-align: left;
    font-family: 'Cooper Hewitt', sans-serif;
    color: #ffffff;
    margin-top: 7%;
  }
  
  #home-title {
    font-size: 3vw;
    font-weight: bold;
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    width: 30%;
    text-align: left;
  }
  
  #museum-logo {
    width: 100%;
    width: 15vw;
    height: auto;
  }
  
  .contacts {
    width: 30%;
    text-align: center;
    color: #ffffff;
    margin-top: 1%;
  }
  
  .contacts h4 {
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
  }
  
  .contacts p {
    font-weight: bold;
    font-size: 1vw;
  }
  
  .affiliations {
    margin-top: 1%;
    width: 30%;
    text-align: center;
    color: #ffffff;
  }
  
  .affiliations h4 {
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
  }
  
  .affiliations p {
    font-weight: bold;
    font-size: 1vw;
  }

  .social-icons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center;
  }
  
  .social-icons {
    width: 30px;
    height: auto;
  }
  
/* Footer*/  

/* Line separator */
.hr-container {
  display: flex;
  justify-content: center; /* Center the hr */
  align-items: center;
  background-color: black; /* Ensure background is black */
  padding: 20px 0; /* Add some spacing */


  hr {
    width: 90%; /* Set width */
    border: none; /* Remove default styling */
    border-top: 2px solid white; /* Custom separator line */
    margin: 0 auto; /* Center the hr */
  }
}
