/* Base styles for Desktop-First */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

    /* Navbar */
    .navbar { 
      font-family: 'Cooper Hewitt', sans-serif;
      font-weight: bold;
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 6px;
      padding-bottom: 0;
      background-color: transparent !important;
    }
    
    .navbar-brand img {
      height: 60px;
      width: auto;
    }
    
    .navbar-brand span {
      font-family: 'Cooper Hewitt', sans-serif;
      font-size: 1rem;
      margin-left: 9%;
    }
    
    .vr {
      padding-left: 1px;
      padding-right: 1px;
      margin-left: 20px;
      margin-right: 20px;
    }
    
    .nav-item {
      line-height: 2px;
    }
    
    .link-lines {
      background-color: white;
      height: 3px;
      width: 0;
      transition: width 0.3s ease;
      opacity: 1;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4px;
    }
    
    .nav-item:hover .link-lines {
      width: 60%;
    }
    
    .navbar-nav .nav-link {
      margin-top: 0;
      padding-top:30px;
    }

    /* User Type Buttons*/
    .user-type-btn-container {
      position: absolute;
      left: 21%;
      top: 104%;
      display: flex;
      flex-direction: row;
      gap: 5%;
    }

    .user-type-btn-container img {
      width: 25px;
      height: 20px;
    }

    /* Section 1: Introduction */
    .section1 {
      height: 100vh;
      background-color: #0b0b0b;
    }

    .introduction-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 90%;
      align-items: center;
      left: 50%;
      transform: translateX(-50%);
      font-family: 'Cooper Hewitt', sans-serif; 
      padding-top: 8%;
    }

    .introduction-container h1 {
      color: white;
      font-weight: bold;
      font-size: 50px;
      margin-bottom: 3%;
      text-align: center;
    }

    .introduction-container p {
      color: white;
      font-size: 19px;
      text-align: center;
    }


    #btn-target {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      top: 90%;
    }

    #btn-target a {
      color: #fff;
      text-decoration: none;
      font-family: 'Cooper Hewitt', sans-serif;
      font-weight: bold;
      white-space: nowrap;
    }

    /* Section 2: The Map*/
    .section2 {
      display: flex;
      flex-direction: row;
      background-color: black;
      height: 100vh;
      max-height: 100%;
      position: relative;
      overflow: hidden;
    }

    .section2 .title-container {
      padding-top: 7%;
      padding-left: 5%;
    }
    
        /* Left Container: Lists and Descriptions */
        .left-container {
          position: relative;
          width: 35vw;
          height: 100vh;
          background: #0b0b0b;
          overflow: hidden;
          padding-bottom: 60px;
        }

        .scroll-container::-webkit-scrollbar {
          display: none;
        }

        .left-container .title {
          display: inline-block;
          justify-content: center;
          text-align: left;
          margin-left: 10%;
          margin-right: 10%;
          margin-top: 10%;
          margin-bottom: 5%;
          color: white;
          font-size: 26px;
          line-height: 38px;
        }

        .left-container p {
          font-size: 16px;
          color: white;
          margin-right: 10%;
          margin-left: 10%;
          letter-spacing: 0.7px;
        }

        .left-container p span {
          display: block;
          margin-bottom: 7px;
        }

        .left-container ol {
          font-size: 16px;
          color: white;
          margin-right: 10%;
          margin-left: 8%;
          line-height: 35px;
          letter-spacing: 0.7px;
        }
        
        .button-container-left {
          text-decoration: none;
          font-family: 'Cooper Hewitt', sans-serif;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          position: absolute;
          right: 0;
          bottom: 0;
        }

        .button-container-left button {
          white-space: nowrap;
          right: 0;
          bottom: 0;
          position: absolute;
          border: none;
          text-align: right;
          padding-bottom: 30%;
          color: white;
          transition: color 0.4s ease, color 0.4s ease, opacity 0.3s ease;
        }

        .button-container-left button:hover {
          color: white;
          opacity: 0.4;
        }

        .button-container-left a {
          color: white;
          text-decoration: none;
        }

        .item-texts h3 {
          position: sticky;
          top: 0;
          margin-bottom: 10%;
        }

        .scroll-container {
          overflow-y: scroll;
          max-height: 60vh;
          scrollbar-width: none;
        }

        .gallery-button-container {
          left: 0;
          padding-left: 10%;
          position: absolute;
          bottom: 5vh;
        }

        .gallery-button{
          font-family: 'Cooper Hewitt', sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #CD5909;
          font-weight: bold;
          color: white;
          width: 8vw;
          height: 7vh;
          text-align: center;
          cursor: pointer;
          border-radius: 5px;
          letter-spacing: 0.2vh;
        }

        .gallery-button:hover {
            opacity: 0.9;
        }

        /* Right Container: Maps and Numbers */
        .right-container {
          width: 62vw;
          display: flex;
          justify-content: center;
        }

        .map-container {
          align-items: center;
          display: flex;
          position: relative;
          width: 90%;
          left: 50%;
          transform: translateX(-50%);
        }

        .maps h3 {
          position: relative;
          text-decoration: underline;
          text-underline-offset: 30%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 33px;
          color: white;
          text-align: center;
          margin-top: 5%;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
        }

        .section2 img {
          position: relative;
          display: flex;
          margin-top: 5%;
          width: 100%;
          height: auto;
        }

        .number {
          position: absolute;
          width: 36px;
          height: 36px;
          background-color: white;
          color: #CD5909;
          text-align: center;
          border-radius: 50%;
          cursor: pointer;
          font-size: 17px;
          font-weight: 750;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.2s ease, color 0.2s ease;
        }
                
        .preview {
          position: absolute;
          width: 225px;
          height: 225px;
          text-align: center;
          opacity: 0; /* Inizialmente nascosta */
          transition: opacity 0.3s ease, visibility 0.3s ease;
          visibility: hidden; /* Transizione fluida */
        }

        .preview-show {
          opacity: 1; 
          visibility: visible;/* Quando aggiungi questa classe, la preview appare gradualmente */
        }
        
        .item {
          cursor: pointer;
          transition: color 0.4s ease, color 0.4s ease, opacity 0.5s ease;
        }

        .item-hover {
          color: white;
          opacity: 0.4;
        }
    
        .preview-line {
          position: absolute;
          width: 2px;
          background-color: #CD5909;
          transform-origin: top left;
        }

        .map-btn-container {
          display: flex;
          justify-content: center;
          position: relative;
          flex-direction: column;
          align-items: left;
          gap: 3%;
          width: 3vw;
          margin-top: 24%;
          padding: 0;
          height: 100vh;
          margin-top: 3%;
        }
    
        .btn-map {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #2A2928;  
          cursor: pointer;
        }
    
        .btn-map.active {
          background-color: white;
        }

        .text {
          display: none;
        }

    /*side tabs*/
    
  
  /*user type buttons*/
      .user-btn-toggle {
          cursor: pointer;
          font-size: 30px;
          margin-left: 4%;
          aspect-ratio: 1/1;
          margin-right: 5%;
      }
      .user-btn-container {
          background-color: #CD5909;
          cursor: pointer;
          position: absolute;
          width: 18vw;
          height: 9vh;
          flex-direction: row;
          column-gap: 8%;
          display: flex;
          align-items: center;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          z-index: 100;
          right: -15vw;
          top: 20vh;
      }
      .user-btn-container:hover {
          background-color: #CD5909;
          opacity: 0.9;
      }
      .user-btn-container img {
          position: relative;
          cursor: pointer;
          width: 2em;
          height: auto;
          aspect-ratio: 1 / 1;
          z-index: 50;
      }
      .user-btn {
          width: 2em;
          height: 2em;
          background-size: cover;
          background-position: center;
          cursor: pointer;
      }
      #user-btn1 {
          background-image: url("images/ICONchildren.png");
      }
      #user-btn1.active {
          background-image: url("");
      }
      #user-btn2 {
          background-image: url("images/ICONgeneral.png");
      }
      #user-btn2.active {
          background-image: url("");
      }
      #user-btn3 {
          background-image: url("images/ICONexpert.png");
      }
      #user-btn3.active {
          background-image: url("");
      }
  /*user type buttons*/
/*side tabs*/

    /* Footer */
    footer {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      gap: 11%;
      padding-top: 10%;
    }

    footer h4 {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: left;
      color: white;
    }

    footer p {
      line-height: 1.5;
      text-align: left;
      color: white;
      font-weight: bold;
      font-size: 17px;
      font-family: 'Cooper Hewitt', sans-serif;
      width: 100%;
    }

      /*1st Column*/
      footer .title-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        text-align: left;
        overflow: hidden;
      }

      footer #home-title {
        font-weight: bold;
        -webkit-text-stroke: 2px white;
        color: transparent;
        position: relative;
        font-size: 3vw;
        z-index: 100;
      }

      #museum-logo {
        position: relative;
        width: 325px;
        height: auto;
        margin-top: 10%;
        left: -10%;
        top: -10%;
        z-index: 10;
      }

      /*2nd Column*/
      footer .contacts {
        width: 20%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-top: 14%;
        gap: 5%;
      }

      /*3rd Column*/
      footer .affiliations {
        width: 33%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-top: 14%;
        gap: 5%;
      }

      .social-icons-container {
        display: flex;
        flex-direction: row;
        gap: 4%;
        position: relative;
      }
      
      .social-icons {
        width: 35px;
        height: auto;
      }

      footer a {
        width: 35px;
        height: auto;
      }

@media screen and (min-width: 1400px) {
  .section2 {
    height: 70vh;
  }

  .introduction-container {
    padding-top: 12%;
  }

  .introduction-container h1 {
    font-size: 63px;
  }

  .introduction-container p {
    font-size: 24px;
  }

  #btn-target a {
    font-size: 19px;
  }

  .left-container {
    height: 70vh;
  }

  .right-container {
    height: 70vh;
  }

  .map-btn-container {
    height: 70vh;
  }

  footer {
    padding-top: 5%;
  }

  .left-container p {
    font-size: 19px;
  }

  .left-container ol {
    font-size: 19px;
  }

  .left-container .title {
    font-size: 31px;
  }
}