/* Base styles for Desktop-First */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

    /* Navbar */
    .navbar { 
      font-family: 'Cooper Hewitt', sans-serif;
      font-weight: bold;
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 6px;
      padding-bottom: 0;
    }
    
    .navbar-brand img {
      height: 60px;
      width: auto;
    }
    
    .navbar-brand span {
      font-family: 'Cooper Hewitt', sans-serif;
      font-size: 1rem;
      margin-left: 9%;
    }
    
    .vr {
      padding-left: 1px;
      padding-right: 1px;
      margin-left: 20px;
      margin-right: 20px;
    }
    
    .nav-item {
      line-height: 2px;
    }
    
    .link-lines {
      background-color: white;
      height: 3px;
      width: 0;
      transition: width 0.3s ease;
      opacity: 1;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4px;
    }
    
    .nav-item:hover .link-lines {
      width: 60%;
    }
    
    .navbar-nav .nav-link {
      margin-top: 0;
      padding-top:30px;
    }

    /* User Type Buttons*/
    .user-type-btn-container {
      position: absolute;
      left: 21%;
      top: 104%;
      display: flex;
      flex-direction: row;
      gap: 5%;
    }

    .user-type-btn-container img {
      width: 25px;
      height: 20px;
    }

    /* Section 1: Introduction */
    .section1 {
      height: 100vh;
      background-color: #0D0D0D;;
    }

    #btn-target {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      top: 90%;
    }

    #btn-target a {
      color: #fff;
      text-decoration: none;
      font-family: 'Cooper Hewitt', sans-serif;
      font-weight: bold;
      white-space: nowrap;
    }

    /* Section 2: The Map*/
    .section2 {
      background-color: black;
      height: 100vh;
      max-height: 100vh;
      position: relative;
    }

    .section2 .title-container {
      padding-top: 7%;
      padding-left: 5%;
    }

    .section2 img {
      max-width: 100%;
      height: auto;
      margin-top: 5%;
      margin-left: 10%;
    }
    
    .row {
      max-width: 100%;
    }

        /* Left Container: Lists and Descriptions */
        .left-container {
          position: relative;
          width: 35%;
          height: 100vh;
          background: #0D0D0D;
        }

        .left-container .title {
          display: inline-block;
          justify-content: center;
          text-align: left;
          margin-left: 10%;
          margin-top: 15%;
          margin-bottom: 10%;
          color: white;
          font-size: 20px;
          line-height: 33px;
        }

        .left-container p {
          font-size: 15px;
          color: white;
          margin-right: 10%;
          margin-left: 10%;
        }

        .left-container ol {
          font-size: 17px;
          color: white;
          margin-right: 10%;
          margin-left: 5%;
          line-height: 35px;
        }
        
        .left-container .btn a {
          color: #fff;
          text-decoration: none;
          font-family: 'Cooper Hewitt', sans-serif;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        
        #button-list {
          position: absolute;
          bottom: 20px;
          right: 153px;
          white-space: nowrap;
        }

        #button-description {
          position: absolute;
          bottom: 20px;
          right: 200px;
          white-space: nowrap;
        }

        /* Right Container: Maps and Numbers */
        .right-container {
          width: 55%;
        }

        .map-container {
          padding-top: 5%;
          position: relative;
        }
        
        .maps h3 {
          text-decoration: underline;
          text-underline-offset: 30%;
          margin-left: 20%;
          font-size: 2em;
          color: white;
          text-align: center;
          justify-content: center;
          margin-top: 10%;
          font-weight: bold;
        }

        .number {
          position: absolute;
          width: 36px;
          height: 36px;
          background-color: white;
          color: #8CB758;
          text-align: center;
          border-radius: 50%;
          cursor: pointer;
          font-size: 20px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
                
        .preview {
          position: absolute;
          display: none;
          width: 250px;
          height: 250px;
          text-align: center;
        }
        
        .item {
          cursor: pointer;
        }
    
        .preview-line {
          position: absolute;
          width: 2px;
          background-color: #8CB758;
          transform-origin: top left;
        }

        .map-btn-container {
          display: flex;
          position: relative;
          flex-direction: column;
          gap: 3%;
          width: 10%;
          margin-top: 24%;
          padding-left: 7%;
        }
    
        .btn-map {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #2A2928;  
          cursor: pointer;  
        }
    
        .btn-map.active {
          background-color: white;
        }

    /* Footer */
    footer {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    footer .row {
      margin-left: -5%;
      margin-right: -5%
    }

    footer .title-container {
      text-align: left;
      margin-right: 2%;
      margin-top: 7%;
    }

    footer #home-title {
      font-weight: bold;
      -webkit-text-stroke: 2px white;
      color: transparent;
      position: relative;
      font-size: 3vw;
      z-index: 100;
    }

    footer h4 {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: left;
      color: white;
    }

    #museum-logo {
      position: relative;
      width: 325px;
      height: auto;
      margin-top: 10%;
      left: -10%;
      top: -10%;
      z-index: 10;
    }

    .contacts p, footer .affiliations p {
      line-height: 1.5;
      margin-bottom: 20px;
      text-align: left;
      color: white;
      font-weight: bold;
    }

    footer p {
      font-size: 17px;
      font-weight: normal;
      text-align: left;
      font-family: 'Cooper Hewitt', sans-serif;
    }

    .contacts, .affiliations {
      margin-top: 19%;
    }

    .contacts {
      margin-left: 7%;
    }

    .affiliations {
      margin-left: 4%;
    }

    .contacts h4 {
      margin-bottom: 10%;
    }

    .affiliations h4 {
      margin-bottom: 7%;
    }

    .social-icons-container {
      max-width: 200px;
      margin-top: 10%;
      position: relative;
      left: 50%;
    }
    
    .social-icons {
      width: 19%;
      height: auto;
      margin-left: 5%;
    }

/* Media Queries */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    /* Hiding Everything we don't Need on Mobile*/
    .preview {
      display: none;
    }

    /* Section 2: The Map */
    .row {
      --bs-gutter-x: 0 !important;
      position: relative;
      margin: 0;
      padding: 0;
    }

    .section2 {
      position: relative;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      z-index: 100;
    }

      /* Left Container: Items Descriptions*/
      .left-container {
        height: 80vh;
        width: 100vw;
        background-color: white;
        position: absolute;
        bottom: -60vh;
        margin: 0;
        padding: 0;
        z-index: 100;
        border-top-left-radius: 11%;
        border-top-right-radius: 11%;
        overflow: hidden;
        display: flex;
        justify-content: center;
      }

      .left-container i {
        position: absolute;
        margin-top: 4%;
        transform: rotate(360deg);
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }

      .left-container .title {
        display: inline-block;
        justify-content: center;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: 0;
        margin-right: 0;
        color: black;
        font-size: 1.5em;
        line-height: 33px;
        font-weight: bold;
      }

      .left-container p {
        font-weight: bold;
        font-size: 15px;
        color: black;
        margin-right: 5%;
        margin-left: 5%;
      }

      /*Right Container: Map and Numbers*/
      .right-container {
        width: 100vw;
        padding: 0;
        margin: 0;
      }

      .map-btn-container {
        position: absolute;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 90vw;
        height: 5%;
        top: 50vh;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        padding: 0;
        gap: 80%;
      }

      .btn-map {
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
      }

      .btn-map.active {
        background-color: #2A2928;
      }

      .maps {
        width: 100vw !important;
        height: 100vh !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      .map-container {
        padding-top: 0;
        transform: rotate(90deg);
        width: 100%;
        margin-top: 15%;
      } 

      .maps h3 {
        font-size: 3ex;
        margin: 0;
        margin-top: 5%;
        margin-bottom: 23%;
      }

      .section2 img {
        padding: 0;
        margin: 0;
        width: 120%;
        height: auto;
        max-width: none;
        z-index: 10;
      }

      .number {
        transform: rotate(-90deg);
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: white;
        color: #8CB758;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    /* Footer */
      footer .row {
        --bs-gutter-x: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      footer {
        display: flex;
        text-align: center;
        flex-direction: column;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
        z-index: 10;
      }

      footer .title-container {
        text-align: center;
        align-items: center;
        margin-top: 20%;
      }

      footer #home-title {
        font-size: 9vw;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
      } 

      footer .title-container p{
        font-size: 3vw;
      }

      footer h4 {
        margin: 0;
        text-align: center;
      }

      #museum-logo {
        position: sticky;
        width: 50%;
        height: auto;
        padding: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10%;
      }

      .contacts, .affiliations {
        margin: 0;
      }

      .contacts h4 {
        margin: 2%;
      }
  
      .affiliations h4 {
        margin: 2%;
        margin-top: 10%;
      }

      .contacts p, footer .affiliations p {
        text-align: center;
      }

      .contacts {
        margin-top: 7%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .affiliations {
        margin-left: auto;
        margin-right: auto;
      }

      .social-icons-container {
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        margin-bottom: 25%;
      }

      .social-icons {
        margin: 0;
        width: 60%;
      }
}