/* Base Styles for Mobile-First */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/*Section 1: Introduction*/
    /* Navbar */
      .navbar { 
        font-family: 'Cooper Hewitt', sans-serif;
        font-weight: bold;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 6px;
        padding-bottom: 0;
      }
      
      .navbar-brand img {
        height: 60px;
        width: auto;
      }
      
      .navbar-brand span {
        font-family: 'Cooper Hewitt', sans-serif;
        font-size: 1rem;
        margin-left: 9%;
      }
      
      .vr {
        padding-left: 1px;
        padding-right: 1px;
        margin-left: 20px;
        margin-right: 20px;
      }
      
      .nav-item {
        line-height: 2px;
      }
      
      .link-lines {
        background-color: white;
        height: 3px;
        width: 0;
        transition: width 0.3s ease;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;
      }
      
      .nav-item:hover .link-lines {
        width: 60%;
      }
      
      .navbar-nav .nav-link {
        margin-top: 0;
        padding-top:30px;
      }

    /*Section 1: Introduction*/
    .section1 {
        height: 100vh;
        background-color: #0D0D0D;;
      }
  
      #btn-target {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 90%;
      }
  
      #btn-target a {
        color: #fff;
        text-decoration: none;
        font-family: 'Cooper Hewitt', sans-serif;
        font-weight: bold;
        white-space: nowrap;
      }

    /*Section2: Maps and Descriptions*/
    .section2 {
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 5vh;

    }

        /*Top Container*/
        .section2 .title-container {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .section2 h3 {
            display: flex;
            text-decoration: underline;
            text-underline-offset: 30%;
            font-size: 2em;
            color: white;
            text-align: center;
            justify-content: center;
            margin-top: 10%;
            font-weight: bold;
        }
        
        .section2 img {
            position: relative;
            height: 65vh;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
        }

        .right-container {
            height: 85vh;
            width: 100vw;
        }

        .map-container {
            padding-top: 5%;
            position: relative;
        }

        .previews {
            display: none;
        }

        .number-m {
          position: absolute;
          width: auto;
          height: 2em;
          background-color: white;
          color: #8CB758;
          text-align: center;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          cursor: pointer;
          font-size: 17px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .map-btn-container {
            width: 90%;
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            top: 50vh;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn-map {
            position: relative;
            display: flex;
            cursor: pointer;
            width: 2em;
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background-color: white;
        }

        .btn-map i {
          color: #2A2928;
        }

        .btn-map i.active {
          color: #777676;
        }

        .btn-map.active {
            background-color: #2A2928;
            cursor: default;
        }

        .user-btn-toggle-m {
          position: relative;
          background-color: white;
          border-radius: 20px;  
          cursor: pointer;
          width: 2em;
          height: 3em;
          aspect-ratio: 1 / 1;
        }

        .user-btn-container-m {
          position: absolute;
          left: 88vw;
          top: 13.5vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 16px;
        }

        .user-btn-container-m img {
          position: relative;
          cursor: pointer;
          width: 2em;
          height: auto;
          aspect-ratio: 1 / 1;
        }

        .user-btn-m {
          width: 2em;
          height: 2em;
          background-size: cover;
          background-position: center;
          cursor: pointer;
        }

        #user-btn1-m {
          background-image: url("images/ICONchildren.png");
        }

        #user-btn1-m.active {
          background-image: url("");
        }

        #user-btn2-m {
          background-image: url("images/ICONgeneral.png");
        }

        #user-btn2-m.active {
          background-image: url("");
        }

        #user-btn3-m {
          background-image: url("images/ICONexpert.png");
        }

        #user-btn3-m.active {
          background-image: url("");
        }

        /*Bottom Container*/
        .tab {
            height: 10vh;
            width: 100vw;
            background: white;
            position: sticky;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            bottom: 0;
        }

        .tab i {
            position: absolute;
            margin-top: 4%;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
        }

        .left-container-m {
          height: 70vh;
          width: 100vw;
          background: white;
          position: absolute;
          border-top-left-radius: 45px;
          border-top-right-radius: 45px;
          display: flex;
          justify-content: center;
          overflow: hidden;
          bottom: 0;
        }

        .left-container-m i {
          position: absolute;
          margin-top: 4%;
          margin-bottom: 5%;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
        }

        .left-container-m .title {
            display: relative;
            justify-content: center;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 5%;
            color: black;
            font-size: 1.5em;
            line-height: 1.5em;
            font-weight: bold;
        }

        .left-container-m p {
            font-weight: bold;
            font-size: 1em;
            color: black;
            padding: 0;
            overflow: hidden;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 5%;
            text-align: center;
        }

        .left-container-m .btn a {
            display: none;
        }

        .button-container-left {
            display: none;
        }

        .floor-description-m {
          max-height: 50vh;
        }

        .text-m {
          display: none;
          color: black;
        }

        .text-m h3 {
          position: relative;
          justify-content: center;
          text-align: center;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 5%;
          margin-top: 13%;
          color: black;
          font-size: 1.5em;
          line-height: 1.5em;
          font-weight: bold;
          text-transform: uppercase;
        }
    

/*Footer*/
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    flex-direction: column;
    padding-bottom: 10%;
    z-index: 10;
  }

  footer .title-container {
    text-align: center;
    align-items: center;
    margin-top: 20%;
  }

  footer #home-title-m {
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    font-size: 9vw;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  } 

  footer .title-container p{
    font-size: 3vw;
  }

  footer h4 {
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  #museum-logo-m {
    position: sticky;
    width: 50%;
    height: auto;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
  }

  .contacts, .affiliations {
    margin: 0;
  }

  .contacts h4 {
    margin: 2%;
  }

  .affiliations h4 {
    margin: 2%;
    margin-top: 10%;
  }

  .contacts p, footer .affiliations p {
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .contacts {
    margin-top: 7%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .affiliations {
    margin-left: auto;
    margin-right: auto;
  }

  .social-icons-container {
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 0 auto;
    margin-bottom: 25%;
    margin-top: 10%;
  }

  .social-icons {
    margin: 0;
    width: 2em;
    height: auto;
  }

  .social-icons-container a {
    margin: 0;
    width: auto;
    height: auto;
  }