body{
    max-width: 100vw;
    font-family: "Lora", serif;
    background-color: #FAF3E0; 
    overflow-x: hidden;
}

*  {
    box-sizing: border-box;
}

/* navbar */
    .navbar {
        font-family: 'Cooper Hewitt', sans-serif;
        font-weight: bold;
        padding-left: 3%;
        padding-right: 3%;
        height: 9%;
      }
    
    .navbar-brand img {
        height: 55px;
        width: auto;
    }
    
    .navbar-brand span {
        font-family: 'Cooper Hewitt', sans-serif;
        font-size: 1rem;
        margin-left: 9%;
    }
    
    
    /* Separator bar between links */
    .vr {
    
        padding-left: 1px;
        padding-right: 1px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    hr {
        width: 90%; 
        margin: 0 auto;
        color: black;
        border-top: 2px solid black;
    }
    
    
    .nav-item {
        line-height: 10px;
        max-height: 28px;
    }
    
    .link-lines {
            background-color: black;
            height: 2px;
            width: 0;
            transition: width 0.3s ease;
            opacity: 1;
    }
    
    .nav-item:hover .link-lines {
        width: 60%;
    }
    
    .nav-item.dropdown:hover .dropdown-menu {
            display: block;
    }
        
    .navbar .dropdown-menu {
            top: 100%;
            margin-top: 0;
            left: 0;
    }
        
    .dropdown-menu {
            transform: translateX(-24%);
            display: none;
            border-radius: 0;
            background-color: rgb(255, 255, 255);
            min-width: 160px;
            border: 1 solid rgb(0, 0, 0);
            z-index: 1;
    }
        
    .dropdown-menu a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: flex; 
            align-items: center;
            justify-content: center; 
            text-align: center;
        }
    
    .link-lines-dropdown {
          background-color: rgb(0, 0, 0);
          height: 2px;
          width: 0;
          transition: width 0.3s ease;
          opacity: 1;
    }
    
    .dropdown-item {
          background-color: transparent !important; 
          border: none;
          position: relative;
    }
        
    .dropdown-item:hover::after,
    .dropdown-item:focus::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 60%;
            height: 2px;
            background-color: #000000;
            transition: width 0.3s ease !important;
    }
        
    #thematicalTrigger:hover {
            background-color: transparent !important;
    }
    
    .dropdown-menu {
          position: relative;
    }
        
    #thematicalMenu {
            display: none;
            position: static;
            background: none;
            box-shadow: none;
            transform: translateX(0%);
            border:0;
    }
        
    #thematicalMenu.show {
            display: block;
    }
    
    /*navbar*/
    /*introduction section*/
    .introduction {
        font-family: "Lora", serif;
        margin: 0;
        padding: 0;
        height: 120vh;
        max-height: 120vh;
        background: url("../../images/silk/img/Italy, 19th century-EmbroideredPanel-1800s.jpg");
        background-position: bottom;
        background-size: cover;
    }
    
    .introduction-text-container {
        position: relative;
        width: 40%;
        height: 70%;
        background-color: #FAF3E0;
        opacity: 0.95;
        margin-left: 55%;
        margin-top: 5%;
    
    }
    
    .introduction-title {
        text-align: center;
        color: #6D1B3F;
        opacity: 1;
        padding-top: 7%;
        font-weight: bold;
        font-size: 65px;
    }
    
    .introduction-text {
        position: relative;
        font-family: serif;
        padding-left: 9%;
        padding-right: 9%;
        padding-top: 7%;
        font-size: 1.25vw;
        text-align: center;
        letter-spacing: 0.5px;
        line-height: 1.7em;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    /*introduction section*/
    
    /*main section*/
    .main-section {
        background-color: #FAF3E0;
        height: auto;
        padding-bottom: 20px;
    }
    
    .row1 {
        width: 85%;
        height: 160vh;
        display: flex;
        flex-direction: row;
        padding-top: 9%;
        opacity: 1;
        column-gap: 6%;
        margin: 0 auto;
    }
    
    .element {
        position: relative;
        width: 27vw;
        max-width: 27vw;
        display: flex;
        flex-direction: column;
    }
    
    #element1 p, #element2 p, #element3 p {
        font-family: serif;
        font-size: 17px;
        letter-spacing: 0.7px;
        line-height: 1.9em;
    }
    
    #element1 {
        text-align: left;
    }
    
    #element2 {
        align-items: start;
        text-align: center;
    }
    
    #element3 {
        align-items: start;
        text-align: right;
    }
    
    #element1 img {
        position: absolute;
        height: 47vh;
        max-height: 47vh;
        width: auto;
        top: 53%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #element2 img {
        position: absolute;
        height: 60vh;
        width: auto;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #element3 img {
        position: absolute;
        height: 60vh;
        width: auto;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    
    /*section1*/
    .section1 {
        position: relative;
        height: auto;
        min-height: 87vh;
        background-color: #FAF3E0;
        margin-bottom: 10%;
    }
    
    .section1_background {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: auto;
        opacity: 0.4;
    }
    /*section1*/


/*carousel*/
    .carousel {
        display: block;
        width: 100%;
        height: 55vh;
        margin-top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .carousel-images {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-images img {
        position: absolute;
        display: block;
        margin-left: 16%;
        z-index: 100;
    }

    .button-container {
        position: absolute;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        top: 40%;
        align-items: center;
        gap: 87%;
        margin-left: 3%;
        margin-right: 3%;
    }

    button {
        background-color: #6D1B3F;
        border: none;
        padding: 0;
        cursor: pointer;
        width: 8vh;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vh;
    }

    button:hover {
        background-color: #6D1B3F;
        opacity: 0.9;
    }

    /*titles*/
    .section1 .item-title-container {
        text-align: center;
        margin-top: 2%;
        margin-right: 10%;
        z-index: 3;
    }

    .section1 .item-title {
        font-family: "Lora", serif;
        position: relative;
        text-align: left;
        color: #6D1B3F;
        font-size: 65px;
        font-weight: 600;
        margin-left: 5%;
        word-wrap: break-word;
        margin-bottom: 1%;
        line-height: 0.9em;
        z-index: 3;
    }
    /*titles*/

    /*description that pops up*/
    .tab {
        display: none;
        position: sticky;
        bottom: 0;
        margin-top: 25%;
    }
    .tab i {
        display: none;
    }
    .chevron-container {
        display: none;
    }
    .item-texts i {
        display: none;
    }
    /*description that pops up*/

    /*lines and dots that change with the carousel*/
    .line-container {
        position: relative;
        max-width: 66vh;
        align-items: center;
        margin-top: 6%;
        margin-left: 8%;
        cursor: pointer;
    }

    .active-line {
        position: relative;
        width: 10vh;
        height: 3px;
        background-color: #6D1B3F;
        z-index: 3;
    }

    .inactive-line {
        position: relative;
        width: 80%;
        height: 3px;
        background-color: #6D1B3F;
        opacity: 0.3;
        top: -2px;
        z-index: 1;
    }

    .dot-container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        z-index: 2;
    }

    .dot {
        position: relative;
        width: 1.7vh;
        height: 1.7vh;
        border-radius: 50%;
        background-color: #6D1B3F;
        margin-right: 3vh;
        margin-left: 10vh;
        top: -3.6px;
        cursor: pointer;
    }

    .inner-dot {
        position: absolute;
        width: 4vh;
        height: 4vh;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid transparent;
        top: -8px;
        left: -8px;
        cursor: pointer;
    }

    .dot.active .inner-dot {
        border: 2px solid #6D1B3F;
        cursor: pointer;
    }
    /*lines and dots that change with the carousel*/

    /*descriptions*/
    .item-texts {
        position: absolute;
        top: 17%;
        width: 50vw;
        font-size: 17px;
        letter-spacing: 0.7px;
        line-height: 1.9em;
        left: 41%;
        z-index: 50;
        margin-bottom: 5%;
    }

    .item-texts i {
        display: none;
    }

    .text {
        position: absolute;
        font-family: serif;
        text-align: right;
        margin-bottom: 50%;
        
    }
    /*descriptions*/

    /*gallery button*/
    .gallery-button-container {
        position: relative;
        display: flex;
        margin-left: 70%;
        margin-top: 10%;
    }
    .gallery-button{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6D1B3F;
        color: #FEF7D7;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        width: 15vw;
        height: 8vh;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
    }

    .gallery-button:hover {
        opacity: 0.9;
    }
    /*gallery button*/
/*carousel*/


/*side tabs*/
    .side-tab {
        display: flex;
        position: absolute;
        flex-direction: column-reverse;
        top: 5%;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        right: 0;
        overflow: hidden;
    }

    /*info*/
    .info-button {
        font-family: "Montserrat", sans-serif;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1vh;
    }

    .info-table-small {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        position: absolute;
        transform: translateY(-50%) rotate(-90deg);
        background-color: #6D1B3F;
        color: #FEF7D7;
        padding: 20px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10px;
        z-index: 50;
        right: -2vw;
        top: 10vh;
    }

    .info-table-small:hover {
        background-color: #6D1B3F;
        opacity: 0.9;
    }

    .info-table-big {
        font-family: "Montserrat", sans-serif;
        position: absolute;
        width: 30%;
        height: auto;
        min-height: 70vh;
        background-color: #6D1B3F;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        padding-left: 50px;
        transition: right 0.5s ease;
        display: flex;
        align-content: center;
        align-items: center;
        overflow-y: auto;
        z-index: 150;
        top: 3vh;
        right: 0;
    }

    .info-table-big h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
        color: #FEF7D7;
        text-align: center;
        margin-top: 5%;
    }

    .info-table-big .information-container {
        font-family: "Montserrat", sans-serif;
        color: #6D1B3F;;
        font-size: 18px;
        line-height: 45px;
        margin-left: 2%;
        margin-top: 10%;
        max-width: 320px;
    }

    .info-table-big .table-custom {
        font-family: "Montserrat", sans-serif;
        background-color: #6D1B3F !important;
        color: #FEF7D7 !important;
    }
    
    .info-table-big .table-custom th,
    .info-table-big .table-custom td {
        font-family: "Montserrat", sans-serif;
        background-color: #6D1B3F !important;
        color: #FEF7D7 !important;
    }
    
    .info-table-big .table-custom thead th {
        font-family: "Montserrat", sans-serif;
        background-color: #6D1B3F !important;
        color: #FEF7D7 !important;
    }
    /*info*/

    /*user type buttons*/
    .user-btn-toggle {
        cursor: pointer;
        font-size: 30px;
        margin-left: 4%;
        aspect-ratio: 1/1;
        margin-right: 5%;
    }

    .user-btn-container {
        background-color: #6D1B3F;
        cursor: pointer;
        position: absolute;
        width: 18vw;
        height: 9vh;
        flex-direction: row;
        column-gap: 8%;
        display: flex;
        align-items: center;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        z-index: 100;
        right: -15vw;
        top: 20vh;
        
    }

    .user-btn-container:hover {
        background-color: #6D1B3F;
        opacity: 0.9;
    }

    .user-btn-container img {
        position: relative;
        cursor: pointer;
        width: 2em;
        height: auto;
        aspect-ratio: 1 / 1;
        z-index: 50;
    }

    .user-btn {
        width: 2em;
        height: 2em;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    #user-btn1 {
        background-image: url("../../images/silk/logo/AnnaKidInverted.png");
    }

    #user-btn1.active {
        background-image: url("../../images/silk/logo/AnnaKid.png");
    }

    #user-btn2 {
        background-image: url("../../images/silk/logo/AnnaGeneralInverted.png");
    }

    #user-btn2.active {
        background-image: url("../../images/silk/logo/AnnaGeneral.png");
    }

    #user-btn3 {
        background-image: url("../../images/silk/logo/AnnaExpertInverted.png");
    }

    #user-btn3.active {
        background-image: url("../../images/silk/logo/AnnaExpert.png");
    }
    /*user type buttons*/

    /* theme section */
    .path-container {
        background-color: black;
        padding: 20px;
        text-align: center;
        font-family: 'Cooper Hewitt', sans-serif; 
    }
    
    .title {
        font-size: 24px;
        color: white;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    
    .main-images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .hidden-img {
        display: inline-block;
        text-align: center;
        margin: 30px;
        width: 200px;
        height: auto;
    }
    
    .path-img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .path-name {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        color: white;
    }
    
    .path-link {
        text-decoration: none;
        color: white;
    }

    #hidden1 a:hover img {
        content: url("../../images/logos/thema1change.png");
    }
    
    #hidden2 a:hover img {
        content: url("../../images/logos/thema2change.png");
    }
    
    #hidden3 a:hover img {
        content: url("../../images/logos/thema3change.png");
    }
    /* theme section */

/* Line separator */
.hr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px 0;
  
  
    hr {
      width: 90%;
      border: none;
      border-top: 2px solid white;
      margin: 0 auto;
    }
  }
  
/*footer*/
    footer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
    }
  
  footer .row {
    margin-left: -5%;
    margin-right: -5%
  }
  
  footer .title-container {
    text-align: left;
    margin-right: 2%;
    margin-top: 7%;
    font-family: 'Cooper Hewitt', sans-serif; 
    color: white;
  }
  
  footer #home-title {
    position: relative;
    font-size: 3vw;
    z-index: 100;
    font-weight: bold;
        -webkit-text-stroke: 2px white;
        color: transparent;
  }
  
  footer #home-subtitle {
  font-size: 2vw;
  }
  
  footer h4 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;
  color: white;
  }
  
  #museum-logo {
  position: relative;
  width: 325px;
  height: auto;
  display: block;
  margin-top: 10%;
  left: -10%;
  top: -10%;
  z-index: 10;
  }
  
  .contacts p, footer .affiliations p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
  color: white;
  font-weight: bold;
  }
  
  footer p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  font-family: 'Cooper Hewitt', sans-serif;
  }
  
  .contacts, .affiliations {
  margin-top: 19%;
  }
  
  .contacts {
    margin-left: 7%;
  }
  
  .affiliations {
    margin-left: 4%;
  }
  
  .contacts h4 {
    margin-bottom: 10%;
  }
  
  .affiliations h4 {
    margin-bottom: 7%;
  }
  
  .social-icons-container {
    max-width: 200px;
    margin-top: 10%;
    position: relative;
    left: 50%;
  }
  
  
  .social-icons {
    width: 19%;
    height: auto;
    margin-left: 5%;
  }
  /*footer*/


  /*Media Queries*/
  @media (max-width: 575.98px) {

    /*introduction section*/
        .introduction {
            max-height: 100vh;
        }
        .introduction-text-container {
            position: relative;
            max-width: 90%;
            width: 88%;
            height: auto;
            margin-left: 0;
            margin-top: 20%;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 5%;
        }
        .introduction-title {
            font-size: 30px;
        }
        .introduction-text {
            position: relative;
            font-family: serif;
            padding-left: 9%;
            padding-right: 9%;
            padding-top: 4%;
            font-size: 15px;
            text-align: center;
            letter-spacing: 0.5px;
            line-height: 1.7em;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    /*introduction section*/    

    /*main section*/
        .main-section {
            background-color: #FAF3E0;
            max-height: 270vh;
            height: auto;
            padding-bottom: 30px;
            margin-top: 30px;
        }
        .row1 {
            width: 100vw;
            height: auto;
            flex-direction: column;
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: center;
        }
        .element {
            margin-top: 10%;
            display: flex !important;
            justify-content: center;
            width: 82%;
            max-width: 82%;
            flex-direction: column;
        }
        #element1 p, #element2 p, #element3 p {
            font-size: 15px;
        }
        #element1 {
            text-align: center;
        }
        #element2 {
            align-items: center;
        }
        #element3 {
            text-align: center;
            margin-top: 0;
        }
        #element1 img {
            height: 30vh;
            max-height: 30vh;
            top: 0;
            position: relative;
        }
        #element2 img {
            height: 30vh;
            max-height: 30vh;
            top: 0;
            display: block;
            position: relative;
            margin: auto;
        }
        #element3 img {
            height: 27vh;
            max-height: 27vh;
            top: 0;
            position: relative;
            margin-top: 9%;
        }
    /*main section*/

    /*section1*/
        .section1 {
            padding-top: 10%;
            margin-bottom: 0;
        }
        /*titles*/
            .section1 .item-title {
                font-family: "Spectral SC", serif;
                position: relative;
                text-align: center;
                color: #6D1B3F;
                font-size: 45px;
                font-weight: 600;
                margin-bottom: 0;
                line-height: 0.9em;
                z-index: 3;
            }
        /*titles*/

        /*carousel*/
            .carousel {
                display: flex;
                justify-content: center;  
                margin-top: 17%;
            }
            .carousel-images img {
                position: absolute;          
                z-index: 100;
                margin-left: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            #slide8 {
                max-width: 50%;
                height: auto;
                margin-left: 0;
            }
            #slide7 {
                width: 25%;
                height: auto;
                margin-left: 0;
                top: -1%;
            }
            #slide9 {
                width: 13%;
                height: auto;
                transform: scaleX(-1);
                margin-left: 0;
            }
            
            .button-container {
                position: absolute;
                width: 100vw;
                max-width: 100vw;
                height: auto;
                display: flex;
                flex-direction: row;
                top: 52%;
                left: 50%;
                transform: translateX(-50%);
                margin-left: 0;
                margin-right: auto;
                gap: 77%;
                padding-left: 4%;
                padding-right: 4%;
            }
            button {
                background-color: #6D1B3F;
                border: none;
                padding: 1%;
                cursor: pointer;
                width: 5vh;
                height: 5vh;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.9vh;
            }
        /*carousel*/

        /*lines and dots that change with the carousel*/
            .line-container {
                display: none;
            }
        /*lines and dots that change with the carousel*/

        /*description that pops up*/
            .tab {
                height: 10vh;
                width: 100vw;
                background: #6D1B3F;
                border-top-left-radius: 45px;
                border-top-right-radius: 45px;
                display: flex;
                justify-content: center;
                z-index: 1000;
            }
            .tab i {
                display: block;
                position: absolute;
                margin-top: 5%;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
            }
            .item-texts {
                height: 45vh;
                width: 100vw;
                background: #6D1B3F;
                border-top-left-radius: 45px;
                border-top-right-radius: 45px;
                justify-content: center;
                z-index: 200;
                position: sticky;
                display: none;
                bottom: 0;
                margin-top: 25%;
                margin-bottom: 0;
            }
            .chevron-container {
                height: 10vh;
                width: 80vw;
                color: #6D1B3F;
                z-index: 800;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                opacity: 1;
                display: block;
            }
            .item-texts i {
                display: block;
                position: absolute;
                top: 0;
                margin-top: 7%;
                margin-bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
            }
            .text {
                display: none;
                position: absolute;
                font-family: serif;
                font-weight: bold;
                font-size: 11pt;
                color: #FEF7D7;
                margin-top: 16%;
                margin-left: 7%;
                margin-right: 7%;
                text-align: center;
                letter-spacing: 2px;
                font-weight: 400;
                font-style: normal;
                overflow-y: scroll;
                z-index: 300;
                max-height: 35vh;
            }
        /*description that pops up*/

        /*side tabs*/
        .side-tab {
            top: 10%;
        }
            /*info*/
                .info-button {
                    font-family: "Spectral SC", serif;
                    position: absolute;
                    top: 8%;
                    transform: translateY(-50%);
                    left: 84%;
                }
                .chevron-button {
                    display: none;
                }
                .x-button {
                    display: block;
                    font-size: 2.3vh;
                }
                .info-table-small {
                    right: -7vw;
                }
                .info-table-small:hover {
                    background-color: #6D1B3F;
                    opacity: 0.9;
                }
                .info-table-big {
                    margin-left: -75vw;
                    width: 80vw;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-left: 0;
                    margin-right: auto;
                    padding-left: 20px;
                    padding-top: 40px;
                    min-height: fit-content;
                    top: 10%;
                    border-radius: 8px;
                }
                .info-table-big h3 {
                    font-family: "Spectral SC", serif;
                    font-weight: bold;
                    margin-bottom: 20px;
                    color: #FEF7D7;;
                    text-align: center;
                    margin-top: 5%;
                }
                .info-table-big .information-container {
                    font-family: "Spectral SC", serif;
                    color: #FEF7D7;;
                    font-size: 18px;
                    font-family: 'Cooper Hewitt', sans-serif;
                    line-height: 45px;
                    margin-top: 10%;
                    max-width: 320px;
                }
                .info-table-big .table-custom {
                    font-family: serif;
                    background-color: #6D1B3F !important;
                    color: #FEF7D7 !important;
                }
                .info-table-big .table-custom th,
                .info-table-big .table-custom td {
                    font-family: serif;
                    background-color: #6D1B3F !important;
                    color: #FEF7D7 !important;
                }
                .info-table-big .table-custom thead th {
                    font-family: serif;
                    background-color: #6D1B3F !important;
                    color: #FEF7D7 !important;
                }
            /*info*/

            /*user type buttons*/
                .user-btn-toggle {
                    font-size: 27px;
                    margin-left: 5%;
                }
                .user-btn-container {
                    width: 50vw;
                    height: 5.5vh;
                    column-gap: 8%;
                    right: -40vw;
                    top: 16vh;
                }
            /*user type buttons*/
        /*side tabs*/
    /*section1*/
    
    /*footer*/
        footer {
            display: flex;
            text-align: center;
            flex-direction: column;
            position: absolute;
            flex-direction: column;
            padding-bottom: 10%;
            z-index: 10;
            max-width: 100vw;
        }

        footer .row {
            position: relative;
            max-width: 100vw;
            width: 100vw;
            display: flex;
            justify-content: center;
            margin-left: 0;
            margin-right: auto;
            left: 50%;
            transform: translateX(-50%);
        }

        footer .title-container {
            text-align: center;
            align-items: center;
            margin-top: 20%;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }

        footer #home-title {
            font-weight: bold;
            -webkit-text-stroke: 2px white;
            text-align: center;
            margin-left: 0;
            margin-right: auto;
            font-size: 12vw;
        } 

        footer .title-container p{
            font-size: 3vw;
        }

        footer h4 {
            margin: 0;
            font-weight: bold;
            text-align: center;
            color: white;
        }

        #museum-logo {
            position: relative;
            width: 50%;
            height: auto;
            padding: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10%;
        }

        .contacts, .affiliations {
            margin: 0;
        }

        .contacts h4 {
            margin: 2%;
        }

        .affiliations h4 {
            margin: 2%;
            margin-top: 10%;
        }

        .contacts p, footer .affiliations p {
            text-align: center;
            color: white;
            font-weight: bold;
        }

        .contacts {
            margin-top: 7%;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }

        .affiliations {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .social-icons-container {
            justify-content: center;
            width: auto;
            display: flex;
            flex-direction: row;
            gap: 5%;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 5%;
        }

        .social-icons {
            margin: 0;
            width: 2em;
            height: auto;
        }

        .social-icons-container a {
            margin: 0;
            width: auto;
            height: auto;
        }
    /*footer*/
}
/*Media Queries*/
