*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

/* specifics for the navbar in general */
.navbar { 
    size: 100%;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;
    background-color: black;
    padding-left: 3%;
    padding-right: 3%;
}

/*logo and text*/
.navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar-brand span {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 1rem;
    margin-left: 9%;
}

.carousel {
    display: block;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: default;
    width: 42px;  /* Largura igual à altura para formar um círculo */
    height: 42px; /* Altura igual à largura */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
    display: flex;
    align-items: center; /* Alinha os pontos verticalmente */
    justify-content: center; /* Centraliza os pontos na barra */
    position: relative; /* Para permitir posicionamento da linha */
    margin-top: 10px; /* Espaçamento entre o carrossel e os pontos */
}

.line {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute; /* Faz a linha se sobrepor aos pontos */
    top: 50%; /* Alinha a linha ao meio verticalmente */
    left: 0; /* Começa a linha na esquerda */
    right: 0; /* Estende a linha até a direita */
    height: 2px; /* Altura da linha */
    background-color: #000000; /* Cor padrão da linha */
    z-index: -1; /* Coloca a linha atrás dos pontos */
}

.dot {
    display: inline-block;
    width: 10px; /* Largura do ponto */
    height: 10px; /* Altura do ponto */
    border-radius: 50%; /* Formato circular */
    background-color: transparent; /* Cor padrão dos pontos */
    margin: 0 20px; /* Aumenta o espaço lateral (4 dots) */
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

.dot.active {
    background-color: #000000; /* Cor do ponto ativo */
}

.dot.inactive {
    background-color: transparent; /* Cor do ponto inativo */
}


.info-tab {
    text-align: center;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    background-color: black;
    color: white;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    z-index: 10;
}

.info-tab:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Painel de informações, inicialmente escondido */
.info-table {
    position: fixed;
    right: -30%; /* Oculto fora da tela inicialmente */
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.5s ease;
    z-index: 9;
}

.info-table h2 {
    margin-bottom: 20px;
}


.info-table table {
    width: 100%;
    border-collapse: collapse;
}

.info-table table th, .info-table table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Classe para exibir o painel */
.info-table.open {
    right: 0; /* Move o painel para dentro da tela */
}

.image-description {
    text-align: center; /* Centraliza a descrição */
    font-weight: bold; /* Deixa a descrição em negrito */
    text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
    padding: 10px;
    font-size: 16px; /* Tamanho da fonte da descrição */
}
