
.home{

    background-color: #000000 !important;
    width:100%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    display: flex;
    width: 100%;
    height: 700px; /* Altura definida */
    position: relative; /* Isso mantém o texto e imagem no lugar sem sobrepor outros elementos */
}

 .line{
    width: 80%;
    border-bottom: 1px solid #ffffff;
}

.exploremenu{
    position: absolute;
    right: 10%;

}

#sidemenu{
    text-align: right;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;
    line-height: 57%;
    font-size: 3vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #ffffff; 
}

.text {
    position: absolute;
    left: 1%;
    top: 200px;
    z-index: 2;
    width: 40%; /* Largura do texto */
    background: rgba(255, 255, 255, 0); /* Fundo semi-transparente */
    padding: 20px;
}

.image-container {
    position: absolute;
    right: 0; 
    top: 0;
    width: 65%; /* A largura da imagem */
    height: 100%; /* Altura total do contêiner */
    z-index: 1; /* A imagem fica atrás do texto */
}

.image-container img {
    float: right;
    position: absolute;
    right: 34%; 
    width: 65%;
    height: auto;
    object-fit: cover; /* Mantém a proporção da imagem sem distorção */
}

#title{
    text-align:left;
    font-family: 'Cooper Hewitt', sans-serif;
    line-height: 0;
    font-size: 6vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #ffffff; 
}

#covertitle{
    text-align:left;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;
    line-height: 90%;
    font-size: 5vw;
    color: #ffffff;
}

#coversubtitle{
    text-align: left;
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 26px;
    font-weight: lighter;
    line-height: 130%;
    color: #ffffff;
}

.line{
    color: #ffffff;
    margin-bottom: 20px;
    width: 80%;
    text-align: start;
}
.gallery {
    margin-top: 12%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 5%;
}

.image-item {
    width: 20%; /* Cada imagem ocupará aproximadamente 1/3 da largura */
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.map{width: 25%; /* Cada imagem ocupará aproximadamente 1/3 da largura */
    text-align: center;

}

.map img{
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    font-family: 'Cooper Hewitt', sans-serif;
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}


#footerdiv{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#footercol1{
    width: 30%; /* Cada imagem ocupará aproximadamente 1/3 da largura */
    text-align: left;
}

#footercol1 img{
    width: 100%;
    height: auto;
}

#footercol1 p{
    font-family: 'Cooper Hewitt', sans-serif;
    margin-top: 10px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}

#footercol2{
    width: 50%;
    display: inline-block;
}

#footercol2 h4{
    width: 100%;
    font-family: 'Cooper Hewitt', sans-serif;
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff; 
}
#footercol2 p{

    font-family: 'Cooper Hewitt', sans-serif;
    margin-top: 10px;
    font-size: 12px;
    color: #ffffff; 
}
#footercol2 p a{
    text-decoration: none;
    color: #ffffff;
}

#footercol3 {
    text-align: left;
    width: 50%;
    height: auto;
    display: block;
}
#footercol3 h4{
    font-family: 'Cooper Hewitt', sans-serif;
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff; 
}
#footercol3 p{
    font-family: 'Cooper Hewitt', sans-serif;
    margin-top: 10px;
    font-size: 12px;
    color: #ffffff; 
}

#logo{
    display: inline;
    width: 15%;
}