html{
    scroll-behavior: smooth;
}

/*media queries*/
    /*small screens*/
    @media (max-width: 786px) {
        .home-image .title-container {
            text-align: left;
            padding-right: 10%;
            padding-top: 17%;
            padding-left: 5%;
        }
        .home-image #home-title {
            font-size: 8vw;
            -webkit-text-stroke: 2px white;
            line-height: 80px;
            color: transparent;
        }
        #home-subtitle {
            line-height: 0%;
            font-size: 5vw;
            color: #ffffff;
        }
        .card {
            background-image: url("images/black_&_white_image.jpeg");
            position: relative;
            overflow: hidden;
            background-size: cover;
            min-height: 200px;
        }
        .card:hover {
            background-image: url("images/black_&_white_hover.jpg");
            position: relative;
            overflow: hidden;
            background-size: cover;
            min-height: 200px;
        }
        #rest-of-the-page .title-container {
            text-align: right;
            padding-right: 10%;
            padding-top: 15%;
        }
        .line-container {
            position: fixed;
            width: 100%;
            background-color: transparent;
            top: 47px;
        }
    }
    /*small screens*/

    /*bigger screens*/
    @media (min-width: 1025px) {
        .home-image .title-container {
            text-align: left;
            padding-right: 10%;
            padding-top: 12%;
            padding-left: 5%;
        }
        .home-image #home-title {
            line-height: 120px;
            font-size: 6vw;
            color: transparent;
            -webkit-text-stroke: 3px white;
        }
        #home-subtitle {
            line-height: 80%;
            font-size: 5vw;
            color: #ffffff;
        }
        #rest-of-the-page .title-container {
            text-align: right;
            padding-right: 10%;
            padding-top: 10%;
        }
        .card {
            background-image: url("images/black_&_white_image.jpeg");
            position: relative;
            overflow: hidden;
            background-size: cover;
            min-height: 350px; 
        }
        .card:hover {
            background-image: url("images/black_&_white_hover.jpg");
            position: relative;
            overflow: hidden;
            background-size: cover;
            min-height: 350px;
        }
        .line-container {
            position: fixed;
            width: 100%;
            background-color: transparent;
            top: 42px;
        }         
    }
    /*bigger screens*/
/*media queries*/

/*home image*/
    .home-image {
        background-image: url("images/black_&_white_image.jpeg");
        position: relative;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    /*navbar*/
        .navbar {
            font-family: 'Cooper Hewitt', sans-serif;
            font-weight: bold;
            position: fixed;
            width: 100%;
            margin-top: 5px;
        }

        .navbar-logo-text {
            margin-left: 2%;
        }

        .navbar-brand img {
            border-radius: 50%;
        }

        .navbar-toggler {
            margin-right: 9%;
        }

        
    /*navbar*/

    /*title and subtitle*/

        #title {
            font-family: 'Cooper Hewitt', sans-serif;
            font-weight: bold;
        }


        

        .text {
            position: absolute;
            left: 1%;
            top:
        } 

        

        #coversubtitle{
            text-align: left;
            font-family: 'Cooper Hewitt', sans-serif;
            font-size: 26px;
            font-weight: lighter;
            line-height: 130%;
            color: #ffffff;
        }
        
        #rest-of-the-page h1 {
        color: black;
        line-height: 100%;
        font-size: 4vw;
        color: transparent;
        -webkit-text-stroke: 1px white; 
        }
    /*title and subtitle*/

    /*"see more" btn*/
        .button_container {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn a {
            color: #fff;
            text-decoration: none;
        }
    /*"see more btn"*/


/*rest of the page background*/
    #rest-of-the-page {
        background-color: black;
    }

    #rest-of-the-page, p {
        color: #fff;
    }
/*rest of the page background*/

/*cards*/
    .cards_container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
/*cards*/





.text-container {
    text-align: left;
    padding-left: 10%;
    padding-top: 2%;
}


/*footer*/
footer {
    background-color: #555555;}
/*footer*/







