* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    margin: 0px;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.section1 {
    height: 100vh;
}

/* specifics for the navbar in general */
.navbar {
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;
    background-color: black;
    margin-left: 3%;
    margin-right: 3%;
  }

/*logo and text*/
.navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar-brand span {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 1rem;
    margin-left: 9%;
}

/* Separator between links */
.vr {

    padding-left: 1px;
    padding-right: 1px;
    margin-left: 20px;
    margin-right: 20px;
}


.nav-item {
    line-height: 10px;
    max-height: 28px;
    }

.link-lines {
        background-color: white;
        height: 2px;
        width: 0;
        transition: width 0.3s ease;
        opacity: 1;
}

.nav-item:hover .link-lines {
    width: 60%;
}

    /* Ensure the dropdown menu appears on hover */
.nav-item.dropdown:hover .dropdown-menu {
        display: block;
}
    
.navbar .dropdown-menu {
        top: 100%;
        margin-top: 0;
        left: 0;
}
    
.dropdown-menu {
        display: none;
        border-radius: 0;
        background-color: black;
        min-width: 160px;
        border: 0;
        z-index: 1;
}
    
.dropdown-menu a {
        color: white;
        padding: 12px;
        text-decoration: none;
        display: flex; 
        align-items: center;
        justify-content: center; 
        text-align: center;
    }

.link-lines-dropdown {
      background-color: white;
      height: 1px;
      width: 0;
      transition: width 0.3s ease;
      opacity: 1;
}

.dropdown-item {
      background-color: transparent !important; 
      border: none;
      position: relative;
}
    
.dropdown-item:hover::after,
.dropdown-item:focus::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 60%;
        height: 2px;
        background-color: #ffffff;
        transition: width 0.3s ease !important;
}
    
#thematicalTrigger:hover {
        background-color: transparent !important;
}

.dropdown-menu {
      position: relative;
}
    
#thematicalMenu {
        display: none;
        position: static;
        background: none;
        box-shadow: none;
}
    
#thematicalMenu.show {
        display: block;
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

}
.container h1{
    margin-top: 20px;
    width: 80%;
    text-align: right;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;
    line-height: 75%;
    font-size: 3vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #ffffff; 
}

.container iframe{
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 700px;
}

h3{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.container span{
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2em;
}
